{% extends 'template_inheritance.html' %}
{% block content %}
<div class="container">
    <div class="content" id="text">
        <h2>Change Font Size</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec tincidunt diam. Sed luctus risus id
            molestie ultrices. Nulla tincidunt varius justo at gravida. Orci varius natoque penatibus et magnis dis
            parturient montes, nascetur ridiculus mus. Donec sodales ullamcorper erat, nec commodo dolor semper a. Morbi
            in nunc auctor, aliquam lacus ut, pharetra felis. Aliquam mi erat, laoreet et varius sit amet, malesuada id
            dui. Nam vitae tempor dui, quis convallis velit. Maecenas vulputate sagittis arcu, ac congue augue cursus
            nec. Phasellus ut metus sem. Praesent in rutrum ligula, sit amet porta quam. Aenean mollis bibendum massa, a
            faucibus sapien porttitor sit amet.</p>
    </div>
</div>
{% endblock %}
