{% extends 'template_inheritance.html' %}
{% block content %}


<!-- League of Legends - Basics -->
<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h1 class="title-single">League of Legends - Basics </h1>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <p class="section-small">Section 1/3</p>
            </div>
        </div>
    </div>
</section>




<section class="section-about">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 position-relative">
                <div class="about-img-box">
                    <img src="static/img/banner1.jpg" alt="" class="img-fluid">
                </div>
                <div class="sinse-box">
                    <h3 class="sinse-title">The Game
                        <span></span>
                        <br> Rules
                    </h3>
                    <p>This section will equip you with </p>
                    <p>all the essential knowledge</p>
                    <p>about the game to enable</p>
                    <p>you to better understand esports</p>
                </div>
            </div>
            <div class="col-md-12 section-t8 position-relative">
                <div class="row">
                    <div class="col-lg-2  d-none d-lg-block position-relative">
                        <div class="title-vertical d-flex justify-content-start">
                            <span>Introduction</span>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-5 section-md-t3">
                        <div class="title-box-d">
                            <h3 class="title-d">Game
                                <span class="color-d">Objectives</span>
                                <br>
                            </h3>
                        </div>
                        <p class="color-text-a" style="text-align: justify;
 text-justify: inter-character;">
                            League of Legends is a MOBA (Multiplayer Online Battle Arena) strategy game. Two teams of 5
                            or 3
                            different heroes face each other, collecting gold and experience to use their advantage to
                            win. The
                            goal of the game is to destroy the most important point in the enemy base - the Nexus. This
                            can be
                            achieved by breaking through enemy fortifications or by forcing them to surrender.
                        </p>
                        <p class="color-text-a" style="text-align: justify;
 text-justify: inter-character;">
                            In every League of Legends match, the team must set itself the task of scoring new goals.
                            Although the game can last almost an hour, the end result will always be a destroyed Nexus
                            on one side of the barricade. However, in order to reach the main enemy base, you have to
                            wade through smaller, but still important fortifications.
                        </p>
                        <p class="color-text-a">

                        </p>


                    </div>

                    <div class=" my-auto col-md-6 col-lg-5">


                        <div class="card-box-d">
                            <div class="card-img-d">
                                <img src="/static/img/section1_game_objectives.jpg" alt="" class="img-d img-fluid">
                            </div>
                            <div class="card-overlay card-overlay-hover">
                                <div class="card-header-d">
                                    <div class="card-title-d align-self-center">
                                        <h3 class="title-d">
                                            <a href="{{ url_for('game_glossary') }}">Game Objectives Priority</a>
                                        </h3>
                                    </div>
                                    <div class="card-body-d">
                                        <p class="content-d ">
                                            This graphic presents a list of the most important objectives that are sorted from least important to most important in order to
                                            win the game.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- League of Legends - Basics-end-->

<!-- League of Legends - Basics (Continuation) -->
<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h1 class="title-single">League of Legends - Basics (Continuation)</h1>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <p class="section-small">Section 2/3</p>
            </div>
        </div>
    </div>
</section>


<section class="section-about">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 position-relative">
                <div class="about-img-box">
                    <img src="static/img/banner7.jpg" alt="" class="img-fluid">
                </div>
                <div class="sinse-box">
                    <h3 class="sinse-title">How to
                        <span></span>
                        <br> Conquer
                    </h3>
                      <p>This section will equip you with </p>
                    <p>the knowledge about various</p>
                    <p>roles and heroes available in the game</p>
                    <p>that players can choose from</p>
                </div>
            </div>
            <div class="col-md-12 section-t8 position-relative">
                <div class="row">
                    <div class="col-lg-2  d-none d-lg-block position-relative">
                        <div class="title-vertical d-flex justify-content-start">
                            <span>Introduction</span>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-5 section-md-t3">
                        <div class="title-box-d">
                            <h3 class="title-d">Available
                                <span class="color-d">Roles and Heroes</span>
                                <br>
                            </h3>
                        </div>
                        <p class="color-text-a" style="text-align: justify;
 text-justify: inter-character;">
                            Regardless of the chosen hero, the player must choose 1 of 5 available roles to play during
                            the match.
                            These are dictated by the lines drawn on the game map, and there are Top Lane, Jungle,
                            Middle Lane, Bottom
                            Lane, and Support each role completely different from the rest. In order to climb the ranks
                            of the ranking, it is worth focusing on two
                            roles and learning the rest in a basic way.
                        </p>
                        <p class="color-text-a" style="text-align: justify;
 text-justify: inter-character;">
                            In addition to the number of distinct roles available for players in League of Legends they
                            can also choose one of over 140 unique heroes. While each of them may have a unique set of
                            skills, they can be
                            assigned to specific Classes. They are divided into Defenders, Warriors, Conquerors, Mages,
                            Creators and Riflemen. Each of these classes represents a given style of play and a pattern
                            of player behavior. This division makes it easier for Summoners to find their way around the
                            situation and allows them to easily choose their favorite role in the game.
                        </p>
                    </div>

                    <div class="my-auto col-md-6 col-lg-5">


                        <div class="card-box-d">
                            <div class="card-img-d">
                                <img src="/static/img/section2_map_roles.jpg" alt="" class="img-d img-fluid">
                            </div>
                            <div class="card-overlay card-overlay-hover">
                                <div class="card-header-d">
                                    <div class="card-title-d align-self-center">
                                        <h3 class="title-d">
                                            <a href="{{ url_for('game_glossary') }}">Roles In League of Legends</a>
                                        </h3>
                                    </div>
                                    <div class="card-body-d">
                                        <p class="content-d ">
                                            This graphic presents a map that shows where each player's predominant position is in association with the role they chose to play.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- League of Legends - Basics (Continuation)-end -->



<!-- League of Legends - Basics (Continuation) -->
<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h1 class="title-single">League of Legends - Basics (Continuation)</h1>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <p class="section-small">Section 3/3</p>
            </div>
        </div>
    </div>
</section>

<section class="section-about">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 position-relative">
                <div class="about-img-box ">
                    <img src="static/img/banner9.jpg" alt="" class="img-fluid">
                </div>
                <div class="sinse-box">
                    <h3 class="sinse-title">Becoming
                        <span></span>
                        <br> a Legend
                    </h3>
                    <p>This section will equip you with </p>
                    <p>the knowledge about how</p>
                    <p>players are being ranked </p>
                    <p>in League of Legends </p>
                </div>
            </div>
            <div class="col-md-12 section-t8 position-relative">
                <div class="row">
                    <div class="col-lg-2  d-none d-lg-block position-relative">
                        <div class="title-vertical d-flex justify-content-start">
                            <span>Introduction</span>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-5 section-md-t3">
                        <div class="title-box-d">
                            <h3 class="title-d">Game
                                <span class="color-d">Ranking</span>
                                <br>
                            </h3>
                        </div>
                        <p class="color-text-a" style="text-align: justify;
 text-justify: inter-character;">
                            The ranking system in League of Legends consists of 9 leagues, and these are divided into 4
                            divisions (IV - the weakest, I - the strongest). The league type and divisions represent
                            groups of players with similar skill levels. Players win ranking points for winning matches,
                            and for losing them. If a player in a given division scores 100 points, he will be admitted
                            to matches that may promote him to a higher division. To get a promotion between divisions
                            you will have to win 2 out of 3 consecutive skirmishes. If a player is struggling to get
                            promoted to a higher league, he will have to win 3 out of 5 competitions. To make things
                            easier, players who lose their promotion to a higher division will start with one win at the
                            next. This rule works only below the Golden I league.
                        </p>
                        <p class="color-text-a" style="text-align: justify;
 text-justify: inter-character;">
                            The League of Master, Grandmaster and Challenger has its own rules. There are no divisions
                            there, only ranking points. The more points, the higher the position in the table. Players
                            do not advance through the promotion system - each division has a maximum summoner pool, and
                            getting into it requires reaching a certain point threshold. This kind of ranking includes
                            only the best of the best players who are already professional esports players or
                            who aspire to be selected to a professional esports team.
                        </p>
                    </div>

                    <div class="my-auto col-md-6 col-lg-5">


                        <div class="card-box-d">
                            <div class="card-img-d">
                                <img src="/static/img/section3_ranking.jpg" alt="" class="img-d img-fluid">
                            </div>
                            <div class="card-overlay card-overlay-hover">
                                <div class="card-header-d">
                                    <div class="card-title-d align-self-center">
                                        <h3 class="title-d">
                                            <a href="{{ url_for('game_glossary') }}">Ranking in League of Legends</a>
                                        </h3>
                                    </div>
                                    <div class="card-body-d">
                                        <p class="content-d ">
                                            This graphic presents a list of distinct tiers that players can achieve while winning a large number of games against other players.
                                        </p>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- League of Legends - Basics (Continuation)-end -->



{% endblock %}