{% extends 'template_inheritance.html' %}
{% block content %}
<section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-10">
            <div class="title-single-box">
              <h1 class="title-single">Game Glossary - Page Under Development</h1>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Intro Single-->
<!-- Glossary -->

    <div class="container">
        <div class="row">
        </div>
            <div class="col-md-12">
                <div class="card-box-d">
                    <div class="card-img-d">
                        <img src="/static/img/about_game_glossary.jpg" alt="" class="img-d img-fluid">
                    </div>
                    <div class="card-overlay card-overlay-hover">
                        <div class="card-header-d">
                            <div class="card-title-d align-self-center">
                                <h3 class="title-d">
                                    <a href="{{ url_for('game_glossary') }}">Game Glossary</a>
                                </h3>
                            </div>
                        </div>
                        <div class="card-body-d">
                            <p class="content-d ">
                                 The glossary will equip you with the essential knowledge about game
                                terminology covered in the introductory section and more!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- End Glossary-->
{% endblock %}

