<!DOCTYPE html>
<html class="no-js" lang="">
<head>
    <!-- meta charset -->
    <meta charset="utf-8">
    <!-- site title -->
    <title>League of Legends - Esports Hub</title>
    <!-- meta description -->
    <meta content="" name="description">
    <!-- mobile viwport meta -->
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- fevicon -->
    <link href="/static/fav_icon.png" rel="shortcut icon" type="image/x-icon">
    <!-- styled CSS -->
    <link href="/static/css/home_page/style.css" rel="stylesheet">
</head>


 <!-- page animation -->
<div class="preloader">
    <div class="loading-mask"></div>
    <div class="loading-mask"></div>
    <div class="loading-mask"></div>
    <div class="loading-mask"></div>
    <div class="loading-mask"></div>
</div>

 <!-- logo-->
<div class="container-text">
    <img alt="" src="/static/img/phantom.png">
</div>

 <!-- text area 1-->
<div class="container-text">
    <div class="page-title home text-center">
    <h1>Navigation - Key Information</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sollicitudin auctor magna
        in luctus. Integer id est sapien. Lorem ipsum dolor sit amet, consectetur adipiscing
        elit. Vivamus congue, metus ac egestas rhoncus, est libero molestie massa, ac
        consectetur ipsum risus eget magna. Donec accumsan lectus laoreet lorem mattis, eu
        bibendum felis fermentum.</p>
</div>
    </div>





 <!-- hex symbols -->
<div class="container-space"></div>
<div class="content-box-lg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
<div class="container-heading">
    <div class="hexagon-menu clear">
        <div class="hexagon-item">
            <div class="hex-item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="hex-item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <a class="hex-content" href="{{ url_for('about_game') }}">
                                            <span class="hex-content-inner">
                                                <span class="title">About Game</span>
                                            </span>
                <svg height="200" version="1.1" viewbox="0 0 173.20508075688772 200" width="174"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                          fill="#1e2530"></path>
                </svg>
            </a>
        </div>
        <div class="hexagon-item">
            <div class="hex-item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="hex-item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <a class="hex-content" href="{{ url_for('about_esports') }}">
                                            <span class="hex-content-inner">
                                                <span class="title">About Esports </span>
                                            </span>
                <svg height="200" version="1.1" viewbox="0 0 173.20508075688772 200" width="174"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                          fill="#1e2530"></path>
                </svg>
            </a>
        </div>

        <div class="hexagon-item">
            <div class="hex-item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="hex-item">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <a class="hex-content" href="{{ url_for('useful_websites') }}">
                                            <span class="hex-content-inner">
                                                <span class="title">Useful Websites </span>
                                            </span>
                <svg height="200" version="1.1" viewbox="0 0 173.20508075688772 200" width="174"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                          fill="#1e2530"></path>
                </svg>
            </a>
        </div>
    </div> <!-- /.hexagon-menu -->
</div>
                </div>
        </div>
    </div>
</div>

<!-- end of first header -->


<!-- start of second header -->
<div class="container-space"></div>

<div class="container-text">
                        <div class="page-title home text-center">
<h1>Navigation - Personal Space</h1>

                            <p class="example">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sollicitudin auctor magna
                                in luctus. Integer id est sapien. Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit. Vivamus congue, metus ac egestas rhoncus, est libero molestie massa, ac
                                consectetur ipsum risus eget magna. Donec accumsan lectus laoreet lorem mattis, eu
                                bibendum felis fermentum.</p>
                        </div>
                        </div>

<div class="container-space"></div>
<div class="container-heading">
                        <div class="hexagon-item">
                            <div class="hex-item">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                            <div class="hex-item">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                            <a class="hex-content" href="{{ url_for('account_page') }}">
                                            <span class="hex-content-inner">
                                                <span class="title">Account</span>
                                            </span>
                                <svg height="200" version="1.1" viewbox="0 0 173.20508075688772 200" width="174"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                                          fill="#1e2530"></path>
                                </svg>
                            </a>
                        </div>
                        <div class="hexagon-item">
                            <div class="hex-item">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                            <div class="hex-item">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                            <a class="hex-content" href="{{ url_for('contact_page') }}">
                                            <span class="hex-content-inner">
                                                <span class="title">Contact</span>
                                            </span>
                                <svg height="200" version="1.1" viewbox="0 0 173.20508075688772 200" width="174"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                                          fill="#1e2530"></path>
                                </svg>
                            </a>
                        </div>
                    </div>





<!-- ================================
JavaScript Libraries
================================= -->
<script src="/static/js/home_page/jquery-2.2.4.min.js"></script>
<script src="/static/js/home_page/isotope.pkgd.min.js"></script>
<script src="/static/js/home_page/jquery.nicescroll.min.js"></script>
<script src="/static/js/home_page/owl.carousel.min.js"></script>
<script src="/static/js/home_page/jquery-validation.min.js"></script>
<script src="/static/js/home_page/main.js"></script>
<script src="/static/js/template_inheritance/accessability_features.js"></script>
</body>
</html>