<!DOCTYPE html>
<html class="no-js" lang="">
<head>
    <!-- meta charset -->
    <meta charset="utf-8">
    <!-- site title -->
    <title>League of Legends - Esports Hub</title>
    <!-- meta description -->
    <meta content="" name="description">
    <!-- mobile viwport meta -->
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- fevicon -->
    <link href="/static/fav_icon.png" rel="shortcut icon" type="image/x-icon">
    <!-- styled CSS -->
    <link href="/static/css/landing_page/style.css" rel="stylesheet">
    <link href="/static/css/landing_page/aos.css" rel="stylesheet">
</head>
<body>
<section id="hero">
    <div class="hero-container">
        <a class="hero-logo" data-aos="zoom-in" href="landing_page"><img alt="" src="static/img/phantom.png"></a>
        <h1 data-aos="zoom-in">Welcome to League of Legends Esports Hub</h1>
        <h2 data-aos="fade-up">We make esports simple even for the
            inexperienced users!</h2>
        <a class="btn-get-started scrollto" data-aos="fade-up" data-aos-delay="200" href="/home">Get Started</a>
    </div>
</section>
<!--  JS Files -->
<script src="/static/js/landing_page/aos.js"></script>
<script src="/static/main.js"></script>
</body>
</html>



