{% extends 'template_inheritance.html' %}
{% block title %}
Login Page
{% endblock %}
{% block content %}


<body class="text-center ">
<!-- Margin break -->
<section class="intro-single">
</section>
<!-- Margin break-end -->

<div class="container col-md-3 ">
    <h1>Login</h1>
    <form class="form-control form-control-lg form-control-a" method="POST">
        <!-- this provides security against cross site request forgery -->
        {{ form.hidden_tag() }}
        {{ form.username.label() }}
        {{ form.username(class="form-control", placeholder="Enter Username") }}
        {{ form.password.label() }}
        {{ form.password(class="form-control", placeholder="Enter Password") }}
        <br>
        {{ form.submit(class="btn-sm btn btn-a") }}
        <br>
        <p> Need a new account?</p>
        <a class="btn btn-sm btn-secondary" href="{{ url_for('register_page') }}">Register</a>
    </form>
</div>
</body>


{% endblock %}
