{% extends 'template_inheritance.html' %}
{% block title %}
Login Page
{% endblock %}
{% block content %}

<section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">



          </div>
        </div>
      </div>
    </section><!-- End Intro Single-->
<body class="text-center">
<div class="container col-md-3 ">
    <form class="form-register" method="POST" style="color:white">
        <!-- this provides security against cross site request forgery -->
        {{ form.hidden_tag() }}
        <h1>Please Login</h1>
        {{ form.username.label() }}
        {{ form.username(class="form-control", placeholder="Enter Username") }}
        {{ form.password.label() }}
        {{ form.password(class="form-control", placeholder="Enter Password") }}
        <br>
        {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
        <br>
        <div class="checkbox mb-3">
            <h6> Need a new account?</h6>
            <a class="btn btn-sm btn-secondary" href="{{ url_for('register_page') }}">Register</a>
        </div>
    </form>
</div>
</body>




{% endblock %}
