{% extends 'template_inheritance.html' %}
{% block content %}
 <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">Video Tutorial of Lolpros.gg</h1>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Intro Single-->


    <!-- ======= Blog Single ======= -->
<section>
      <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <img src="static/img/banner10.jpg" alt="" class="img-fluid">
            </div>
        </div>
          <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 mt-2">
              <div class="post-information">
                  <ul class="list-inline text-center color-text-a">
                <li class="list-inline-item mr-2">
                  <strong>Author: </strong>
                  <span class="">Jakub Nipps</span>
                </li>
                <li class="list-inline-item mr-2">
                  <strong>Category: </strong>
                  <span class="">Esports</span>
                </li>
                <li class="list-inline-item">
                  <strong>Date: </strong>
                  <span class="">05 July 2022</span>
                </li>
              </ul>
            </div>
              <div class="post-content color-text-a">
                  <h2 class="post-intro color-text-a" style="text-align: center;
 text-justify: inter-character;">
                      This video tutorial has been created to demonstrate <strong> how </strong> and
                      <strong>when </strong> to use loloposs.gg so you can find certain type of esports information with
                      ease and exactly when you need them!
                  </h2>
              </div>
          </div>
          <div class="col-md-6 offset-md-3 col-lg-6 offset-lg-3">
          <iframe width="560" height="315" style="width:100%" src="https://www.youtube-nocookie.com/embed/nYcHi9EgUHs"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </section>

{% endblock %}