{% extends 'template_inheritance.html' %}
{% block title %}
Register Page
{% endblock %}
{% block content %}



<section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">


          </div>
        </div>
      </div>
    </section><!-- End Intro Single-->
<body class="text-center">

<div class="container col-md-3">
    <h1>New Account</h1>
    <form class="form-register" method="POST" style="color:#6c757d">
        <!-- his provides security against cross site request forgery -->
        {{ form.hidden_tag() }}
        {{ form.username.label() }}
        {{ form.username(class="form-control", placeholder="Enter Username") }}
        {{ form. email_address.label() }}
        {{ form. email_address(class="form-control", placeholder="Enter Email") }}
        {{ form.password.label() }}
        {{ form.password(class="form-control", placeholder="Enter Password") }}
        {{ form.password_confirmation.label() }}
        {{ form.password_confirmation(class="form-control", placeholder="Confirm Password") }}
        <br>
        {{ form.submit(class="btn-sm btn btn-a") }}
        <br>
            <br>
            <p> Already have an account?</p>
            <a class="btn btn-sm btn-secondary" href="{{ url_for('login_page') }}">Log in</a>
    </form>
</div>
</body>
{% endblock %}
