{% extends 'template_inheritance.html' %}
{% block title %}
Register Page
{% endblock %}
{% block content %}
<body class="text-center">
<br>
<br>
<div class="container col-md-3">
    <h1>New Account</h1>
    <form class="form-register" method="POST" style="color:white">
        <!-- his provides security against cross site request forgery -->
        {{ form.hidden_tag() }}
        {{ form.username.label() }}
        {{ form.username(class="form-control", placeholder="Enter Username") }}
        {{ form. email_address.label() }}
        {{ form. email_address(class="form-control", placeholder="Enter Email") }}
        {{ form.password.label() }}
        {{ form.password(class="form-control", placeholder="Enter Password") }}
        {{ form.password_confirmation.label() }}
        {{ form.password_confirmation(class="form-control", placeholder="Confirm Password") }}
        <br>
        {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
        <br>
        <div class="checkbox mb-3">
            <h6> Already have an account?</h6>
            <a class="btn btn-sm btn-secondary" href="{{ url_for('login_page') }}">Log in</a>
        </div>
    </form>
</div>
</body>
{% endblock %}
