<html class="no-js" lang="">
<head>
    <!-- meta charset -->
    <meta charset="utf-8">
    <!-- site title -->
    <title>League of Legends - Esports Hub</title>
    <!-- meta description -->
    <meta content="" name="description">
    <!-- mobile viwport meta -->
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- fevicon -->
    <link href="static/img/fav_icon.png" rel="shortcut icon" type="image/x-icon">
    <!-- styled CSS -->
    <link href="static/css/esports_pages/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/esports_pages/style.css" rel="stylesheet">
    <!-- bootstrap icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.0/font/bootstrap-icons.css" rel="stylesheet">
</head>

<body>
<!-- ======= Header/Navbar ======= -->
<nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top">
    <div class="container">
        <button aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler collapsed"
                data-bs-target="#navbarDefault" data-bs-toggle="collapse" type="button">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <a class="navbar-brand text-brand" href="/">Esports<span class="color-b">Hub</span></a>

        <div class="navbar-collapse collapse justify-content-center" id="navbarDefault">
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link " href="{{ url_for('home_page') }}">Home</a>
                </li>

                <li class="nav-item dropdown">
                    <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                       data-bs-toggle="dropdown" href="" id="navbarDropdown" role="button">About Game</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item " href="{{ url_for('about_game') }}">Game Fundamentals</a>
                        <a class="dropdown-item " href="{{ url_for('game_glossary') }}">Game Glossary</a>
                    </div>

                </li>

                <li class="nav-item dropdown">
                    <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                       data-bs-toggle="dropdown" href="" id="navbarDropdown1" role="button">About
                        Esports</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item " href="{{ url_for('about_esports') }}">Esports Fundamentals</a>
                        <a class="dropdown-item " href="{{ url_for('esports_glossary') }}">Esports Glossary</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                       data-bs-toggle="dropdown" href="" id="navbarDropdown2" role="button">Useful
                        Websites</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item " href="{{ url_for('useful_websites') }}">Websites Fundamentals</a>
                        <a class="dropdown-item " href="{{ url_for('lolpros') }}">lolpros.gg</a>
                        <a class="dropdown-item " href="{{ url_for('lolesports') }}">lolesports.com</a>
                        <a class="dropdown-item " href="{{ url_for('lolfandom') }}">lol.fandom.com</a>

                    </div>
                </li>


                <li class="nav-item dropdown">
                    <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                       data-bs-toggle="dropdown" href="" id="navbarDropdown3" role="button">Accessibility Features</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item"> <input class="checkbox" id="chk" type="checkbox">
                            <label class="label" for="chk">
                                <div class="ball"></div>
                            </label> </a>
                        <a class="dropdown-item"> <a href="" id="small">A</a>
                            <a class="active" href="#" id="medium">A</a>
                            <a href="#" id="large">A</a>
                            <a href="#" id="max">A</a>
                        </a>


                    </div>
                </li>


                <li class="nav-item">
                    <a class="nav-link " href="{{ url_for('contact_page') }}">Contact</a>
                </li>

                {% if current_user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                       href="" role="button" style="color: #fff">Hi,
                        {{current_user.username[0]|upper}}{{current_user.username[1:] }}</a>
                    <div class="dropdown-menu">
                        <a class="nav-link" href="{{ url_for('account_page') }}">Your Personal Notes</a>
                        <a class="nav-link" href="{{ url_for('logout_page') }}">Logout</a>
                    </div>
                </li>

                {% else %}

                <li class="nav-item">
                    <a class="nav-link " href="{{ url_for('account_page') }}" id="sanity">Account</a>
                </li>

                {% endif %}


                <!-- menu on the right -->


            </ul>
        </div>
    </div>
</nav><!-- End Header/Navbar -->


<!-- Margin break -->
<section class="intro-single">
</section>
<!-- Margin break-end -->

<!-- Custom content for pages -->
{% block content %}

{% endblock %}

<!-- Margin break -->
<section class="intro-single">
</section>
<!-- Margin break-end -->
<footer class="">
    Copyright &copy; 2022 League of Legends - Esports Hub
</footer>

<!--JavaScript files accessibility features-->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="/static/js/template_inheritance/accessability_features.js"></script>

<!--JavaScript Bootstrap collapsible menu for mobile devices-->
<script src="/static/js/template_inheritance/bootstrap.bundle.js"></script>
</body>
</html>