{% extends 'template_inheritance.html' %}

{% block title %}
    Shop Page
{% endblock %}

{% block content %}
<h1>Test</h1>
    <div class="container">
      <table class="table table-hover table-dark">
          <thead>
            <tr>
              <th class="align-middle" scope="col">ID </th>
              <th class="align-middle" scope="col">Name </th>
              <th class="align-middle" scope="col">Barcode </th>
              <th class="align-middle" scope="col">Price </th>
              <th class="align-middle" scope="col">Options </th>
            </tr>
          </thead>

          <tbody>
          {% for item in items %}
          <tr>
              <td class="align-middle"> {{item.id}}</td>
              <td class="align-middle"> {{item.name}}</td>
              <td class="align-middle"> {{item.barcode}}</td>
              <td class="align-right"> {{item.price}}</td>
              <td>
                  <button class="btn btn-outline btn-info"> Details</button>
                  <button class="btn btn-outline btn-success"> Purchase this Item</button>
              </td>
          </tr>
          {% endfor %}
          </tbody>
      </table>
    </div>
{% endblock %}