{% extends 'template_inheritance.html' %}
{% block title %}
    Shop Page
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row" style="margin-left:5%; margin-right:5%; margin-top:0.10%;">
        {% for item in items %}
        <div class="col-sm-4 mt-4">
            <div class="card">
                <img src="" alt="">
                <div class="card-body" >
                    <h5 class="text-center text-dark"> {{item.name}}</h5>
                    <p class="text-center text-dark"> {{item.price }} GBP</p>
                </div>
                <div class="card-footer" >
                    <a  href="" class="float-left btn btn-md btn-warning container-fluid mt-2">Details</a>
                    <a href="" class="float-right btn btn-md btn-success container-fluid mt-2">Add to cart</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}